@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');


* {
    color: rgba(0, 0, 0, 0.514);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



h1, h2, h3, h4 ,h5 , h6 {
    color: rgba(0, 0, 0, 0.712);
}

.subtitle {
    font-size: 48px;
    font-weight: bold;
}

.word  {
    font-weight: bold;
    letter-spacing: 2.5px ;

}

.para{
    line-height: 1.5rem;
}

i{
    color: #38ACEC;
    font-size: 24px;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

.text_blue {
    color: #38ACEC
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type:  none;
}

a {
    text-decoration: none;
    color: black;
}

/* NAVIGATION */

.nav_logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.nav_container {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    display: flex;
    align-items: center;

}

.nav_logo_and_name {
display: flex;
align-items: center;
}

.nav_name {
    padding-left: 16px;
}

.nav_separate_left {
    margin-right: 56px;
}

.nav_link {
    margin-right: 32px;
    font-weight: bold;
    cursor: no-drop;
    position: relative;

}


.button {
    padding: 8px 24px;
    background-color: #38ACEC;
    color: white;
    border-radius: 16px;
    transition: all 300ms ease;
    cursor: no-drop;
}

.button:hover{
    background-color: #3880ec;
}

.nav_name {
    font-weight: bold;
    font-size: 24px;
    color: #242424;
}

.link_hover_effect_white::after{
    content:"";
    position: absolute;
    height: 3px;
    width:0;
    background-color: #242424;
    bottom: -5px;
    right: 0px;
    transition: all 300ms ease;
    
}

.link_hover_effect_white:hover:after{
    width: 100%;
    left: 0;
}

/* MENU */

.menu_container {
    padding: 0 32px;
}

.menu_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    
}

.figure_wrapper {
    width:60%;
}

.menu_image {
    width:100%;
}


.template_description_container {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.customer_logos {
    width: 80%;
    filter: invert(0.65);
    
}

.template_header {
    font-size: 48px;

}

.template_para {
margin: 16px 0;
font-size: 18px;
}


.template_input {
    position: relative;
    max-width: 28rem;
    text-align: center;
    width: 100%;
    margin-top: 16px;
}


.template_email {
    font-size: 16px;
        padding-left: 2rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-radius: 9999px;
        border-width: 2px;
        width: 100%;
        box-shadow: none;
        border-style: solid;
        font-weight: 500;
        border-color: rgba(0, 0, 0, 0.199) ;
        color: rgba(0, 0, 0, 0.199);
        transition: all 300ms ease;
    }


    
.template_email:hover {
        border-color: rgba(0, 81, 255, 0.76);
} 

.template_email:focus{
    outline: none;
    border-color:#0e4ba7; 
    color: black;
}

.company_logos_subheader {
margin-bottom: 16px;
font-weight: bold;
font-size: 14px;
}


.customer_wrapper {
    margin-top: 50px;
    color:  rgba(0, 0, 0, 0.452);

}

.template_btn {
    position: absolute;
        width: 35%;
        height: 83%;
        top: 5px;
        right: 5px;
        font-weight: 700;
        border-radius: 9999px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #38ACEC;
        color: white;
        border: none;
        transition: all 300ms ease;
}

.template_btn:hover {
    background-color: #3880ec;
    cursor: not-allowed;

}

/* FEATURES */ 

#features {
height:100vh;

}

.features_container {
    padding: 150px 56px 12px 56px;
}

.features_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.features_word {
    margin-bottom: 16px;
}


.features_para {
    margin: 24px;
    width: 100%;
    max-width: 600px;
    text-align: center;
   
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 48px;
}

.service {
    width: calc(100%/3);
    display: flex;
    margin-bottom: 100px;
}

.service_description {
    display: flex;
    flex-direction: column;
}

.features_i {
    border: 2px rgba(0, 0, 0, 0.164) solid;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    padding-top: 17px;
}

.service_icon {
    margin-right: 16px;
}

.service_title{
    color: rgba(0, 0, 0, 0.836);
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.5px;
}

/* SHOWCASE */

#showcase {
    height: 75vh;
}

.showcase_row {
    display: flex;
    height: 450px;
    align-items: center;
}

.showcase_description {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.showcase_image_wrapper {
    width: 50%;
    height: 350px;
}

.showcase_image {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.137); ;
    height: 100%;
}

.showcase_container {
    padding: 16px 32px;
}

.showcase_btn {
    width: 25%;
    padding: 10px 16px;
    border: none;
}

.showcase_para {
    margin: 16px 48px 16px 0;
}

.description_title {
    font-size: 40px;
    margin-top: 12px;
}

/* STEPS */ 

#steps {
    height: 80vh;
}

.steps_container {
    margin:0 32px;
    padding-top: 100px;
}

.steps_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps_image_wrapper {
    width:50%;
}

.steps_wrapper {
    width: 50%;
}

.steps_image {
    width: 100%;
}

.steps_wrapper {
    margin-left: 48px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.steps_description {
    display: flex;
    margin-top: 3rem;
}

.steps_sub_description {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.number {
    font-weight: 600;
    font-size: 40px;
    color: rgba(203,213,224);
}


.steps_subtitle {
    margin-top: 1rem;
    text-align: left;
}

.steps_subheader {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.712);
}

.steps_para {
    margin-top: 12px;
    width: 100%;
    max-width: 320px;
}

/* PLANS */

#plans {
    height: 115vh;
}

.plans_container {
    margin: 80px 32px 32px 32px;
}

.plans_row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans_description {
    text-align: center;
    margin-top: 40px;
}

.plans_word {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px auto;
}

.plans_subtitle{
    width: 100%;
}

.plans_para {
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0 auto;
}

.plan_pricing {
    width: 100%;
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}

.plan_package {
    width: 25%;
    display: flex;
    flex-direction: column;
    border:2px solid rgba(0, 0, 0, 0.212);
    border-radius: 8px;
    padding: 0 16px;
    text-align: center;
    margin-right: 32px;
      border-top: none;

}

.price {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

.user_company {
    font-weight: 700;
    font-size: 1.25rem;
    color: black;
    
}

.user_price {
    font-size: 3rem;
    font-weight: 700;
    margin: 12px 0;
    color: black;
}

.user {
    display: flex;
    flex-direction: column;
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px;
    border-top: 2px solid rgba(0, 0, 0, 0.212);
    border-bottom: 2px solid rgba(0, 0, 0, 0.212);
    font-weight: 500;

}

.user_status {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
}

.user_details {
 margin-top: 20px;
}

.plan_btn {
    width: 70%;
    margin: 32px auto;
    padding: 16px 0;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms ease;
    
}

.plan_btn:hover {
    cursor: no-drop;
    box-shadow: 0 15px 30px -5px rgba(201, 189, 189, 0.849);
    transform: translate(1px, -1px);

}

.personal,
.enterprise
{
    position: relative;
}

.personal_btn,
.personal_border
{
    
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.border {
 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    top: -0.9px;
    left: 0px;
    right: 0px;
    height: 8px;
}

.enterprise_btn,
.enterprise_border {
background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.business_btn {
    color: blue;
    background-color: white;
    transition: all 300ms ease;
}

.business_btn:hover{
    cursor: no-drop;
    box-shadow: 0 15px 30px -5px rgba(66, 59, 59, 0.534);
    background-color: rgba(255, 255, 255, 0.705);
    transform: translate(1px, -1px);

}

.business span {
    color: white;
}

/* FOOTER */

footer {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

#footer a, 
#footer span, 
#footer p{
    color: white;
}

.footer_container {
    padding: 120px 24px 24px 24px;
}



.footer_links_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.footer_links {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
   
}



.footer_logo {
    height: 32px;
    width: 32px;
}

.footer_subtitle {
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
}

.footer_link {
    position: relative;
    cursor: no-drop;
}


.footer_link_effect:after {
    content: "";
    background-color: white;
    height: 3px;
    width: 0;
    bottom: -5px;
    width: 0;
    right: 0;
    position: absolute;
    transition: all 300ms ease;
}

.footer_link_effect:hover:after{
    width: 100%;
    left: 0;

}

.footer_info{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    border-radius: 8px;
}

.footer_logo_wrap {
    display: flex;
    align-items: center;
}



.test {
    width: 100%;
    text-align: left;
}

.line{
border: 1px solid rgba(199, 188, 188, 0.575);
}

.ray {
    margin-left: 12px;
    font-weight: 700;
    font-size: 20px;
}

.footer_icon {
    width: 46px;
    height: 46px;
    border: solid;
    color: black;
    border-color: white;
    cursor: no-drop;
    border-radius: 100%;
    padding: 8px;
    margin-right: 8px;
    background-color: white;

}

.fa-facebook-f {
    padding-left: 13px;
}

/* BURGER MENU */

.btn_menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #38ACEC;
    display: none;
}

.menu_icon {
    color: black;
    border: none;
}

.menu_backdrop {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    visibility: hidden;
    height: 650px;
    opacity: 0;
}

.menu--open .menu_backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn_menu_close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.menu_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_link {
    color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: no-drop;
}

.menu_link:active {
    text-underline-offset: 10px;
    text-decoration: underline;
    color: #38ACEC;
}

.menu_list {
    padding: 16px 0px;
}

.sign_up {
    padding: 16px 32px;
    border-radius: 30px;
    background-color:#38ACEC ;
    color: white; 

} 


@media (max-width: 1025px) {
    .nav_links {
        display: none;
    }

    .btn_menu {
        display: block;
    }

    .menu_wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .template_description_container {
        text-align: center;
        width: 80%;
        margin-bottom: 32px;
    }

    .template_input {
        margin: 0 auto;
    }

    .figure_wrapper {
        width: 80%;
        margin-top: 40px;
    }

    .showcase_row {
        flex-direction: column-reverse;
    }

    .template_header {
        font-size: 40px;
    }

    .showcase_description {
        margin-bottom: 32px;
    }

    .showcase_image_wrapper {
        height: 85%;
        width: 80%;
        margin-bottom: 48px;
    }

    .showcase_description {
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 800px;
    }

    .showcase_container {
        margin-top: 250px;
    }

    .showcase_para {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}


@media (max-width: 1280px) {
   

    .showcase_image {
        height:auto;
    }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {

    .service {
        font-size: 10px;
        margin-bottom: 32px;
        width: 50%;
    }

    .services {
        padding-left:0;
    }
    
    .features_subtitle {
        font-size: 32px;
    }

    .showcase_row {
        margin-top: 100px;
    }

    .steps_row {
        flex-direction: column;
    }

    .steps_word,
    .steps_subtitle {
        text-align: center;
        margin-left: 0;
    }

    #plans {

        margin-top: 350px;
    }

    .plan_package {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 32px auto;
    }

    #footer {
        margin-top: 1000px;
    }

    #footer {
    margin-top:1300px;
}

.footer_links {
    width: calc(100%/3);
  
}

.test,
.footer_subtitle {
    text-align: center;
}

.footer_info {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer_para {
    padding: 24px 0;
    font-size: 12px;
}

.footer_icons{
    transform: scale(0.8);
}

.fa-facebook-f {
    padding-left: 9px;
}

.fa-youtube {
    padding-left: 7px;
}

.footer_icon {

    margin: 0 12px;
}

.footer_links:nth-child(4),
.footer_links:nth-child(5) {
    margin-top: 16px;
}
}


/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 550px) {
    

    .template_para {
        font-size: 14px;
    }

    .template_btn {
        top: 70px;
        width: 100%;
        right: 0;
    }

    .customer_wrapper{
        margin-top: 100px;
        width: 100%;
    }

    .features_container {
        padding-left: 32px;
        padding-right: 32px;
    }
       
    .features_subtitle {
        text-align: center;
    }
 
    .service {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px;
    }

    .service_description {
        text-align: center;
    }

    .service_icon {
        margin-right: 0;
        margin-bottom: 16px;
    }

    #showcase {
        margin-top: 1400px;
    }

    .showcase_image_wrapper {
        width: 100%;
    }

    .showcase_para {
        margin-right: 0;
        font-size: 16px;
    }

    .showcase_btn {
        width: 50%;
        padding: 15px 16px;
    }

    .steps_image_wrapper {
        width: 100%;
    }

.steps_wrapper {
    margin-left: 0;
    width: 100%;
    max-width: 250px;

}

.subtitle {
    font-size: 32px;
}

.template_header {
    font-size: 30px;
}

.steps_description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps_sub_description {
    text-align: center;
    margin-left: 0;
    margin-top: 12px;
}

#plans {
    margin-top: 600px;
}
    


}